# Car Datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('/content/2. Cars Data1.csv')
df

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]

In [3]:
df.head()

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0
3  Acura          TL 4dr  Sedan   Asia  ...        28.0  3575.0     108.0   186.0
4  Acura      3.5 RL 4dr  Sedan   Asia  ...        24.0  3880.0     115.0   197.0

[5 rows x 15 columns]

In [5]:
df.shape

(432, 15)

# Cleaning Data

In [7]:
df.isnull()

      Make  Model   Type  Origin  ...  MPG_Highway  Weight  Wheelbase  Length
0    False  False  False   False  ...        False   False      False   False
1    False  False  False   False  ...        False   False      False   False
2    False  False  False   False  ...        False   False      False   False
3    False  False  False   False  ...        False   False      False   False
4    False  False  False   False  ...        False   False      False   False
..     ...    ...    ...     ...  ...          ...     ...        ...     ...
427  False  False  False   False  ...        False   False      False   False
428  False  False  False   False  ...        False   False      False   False
429  False  False  False   False  ...        False   False      False   False
430  False  False  False   False  ...        False   False      False   False
431  False  False  False   False  ...        False   False      False   False

[432 rows x 15 columns]

In [8]:
df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

## fill null value by mean value

In [10]:
df

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]

In [32]:
df.fillna(df.mean(axis=0),inplace=True)

In [33]:
df.index

RangeIndex(start=0, stop=432, step=1)

In [34]:
df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

# Based on Value counts

In [38]:
df.head()

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0
3  Acura          TL 4dr  Sedan   Asia  ...        28.0  3575.0     108.0   186.0
4  Acura      3.5 RL 4dr  Sedan   Asia  ...        24.0  3880.0     115.0   197.0

[5 rows x 15 columns]

In [39]:
df['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Chrysler         15
Volkswagen       15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Lexus            11
Subaru           11
Pontiac          11
Mazda            11
Kia              11
Mercury           9
Lincoln           9
Buick             9
Cadillac          8
Suzuki            8
Saturn            8
Infiniti          8
GMC               8
Saab              7
Acura             7
Porsche           7
Oldsmobile        3
Jeep              3
Land Rover        3
Scion             2
MINI              2
Isuzu             2
Hummer            1
Name: Make, dtype: int64

# filtring

In [40]:
df.head(2)

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0

[2 rows x 15 columns]

In [41]:
df[df['Origin'].isin(['Asia','Europr'])]

       Make                       Model    Type  ...  Weight Wheelbase Length
0     Acura                         MDX     SUV  ...  4451.0     106.0  189.0
1     Acura              RSX Type S 2dr   Sedan  ...  2778.0     101.0  172.0
2     Acura                     TSX 4dr   Sedan  ...  3230.0     105.0  183.0
3     Acura                      TL 4dr   Sedan  ...  3575.0     108.0  186.0
4     Acura                  3.5 RL 4dr   Sedan  ...  3880.0     115.0  197.0
..      ...                         ...     ...  ...     ...       ...    ...
400  Toyota  MR2 Spyder convertible 2dr  Sports  ...  2195.0      97.0  153.0
401  Toyota                      Tacoma   Truck  ...  2750.0     103.0  191.0
402  Toyota       Tundra Regular Cab V6   Truck  ...  3925.0     128.0  218.0
403  Toyota    Tundra Access Cab V6 SR5   Truck  ...  4435.0     128.0  218.0
404  Toyota                   Matrix XR   Wagon  ...  2679.0     102.0  171.0

[158 rows x 15 columns]

## **Removing**

In [43]:
df[df['Weight']>4000]

           Make                           Model  ... Wheelbase Length
0         Acura                             MDX  ...     106.0  189.0
15         Audi  A4 3.0 Quattro convertible 2dr  ...     105.0  180.0
17         Audi              A6 4.2 Quattro 4dr  ...     109.0  193.0
18         Audi                A8 L Quattro 4dr  ...     121.0  204.0
20         Audi                        RS 6 4dr  ...     109.0  191.0
..          ...                             ...  ...       ...    ...
405  Volkswagen                      Touareg V6  ...     112.0  187.0
415  Volkswagen                     Phaeton 4dr  ...     118.0  204.0
416  Volkswagen                 Phaeton W12 4dr  ...     118.0  204.0
419  Volkswagen                       Passat W8  ...     106.0  184.0
420       Volvo                         XC90 T6  ...     113.0  189.0

[103 rows x 15 columns]

In [44]:
df[~(df['Weight']>4000)]

      Make                    Model   Type  ...  Weight Wheelbase Length
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
5    Acura  3.5 RL w/Navigation 4dr  Sedan  ...  3893.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[329 rows x 15 columns]

## **Increasing**

In [50]:
df['MPG_City']=df['MPG_City'].apply(lambda x:x+3)
df

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]