# Police DataSets

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('/content/3. Police Data.csv')
df

        stop_date stop_time  ...  stop_duration drugs_related_stop
0        1/2/2005      1:55  ...       0-15 Min              False
1       1/18/2005      8:15  ...       0-15 Min              False
2       1/23/2005     23:15  ...       0-15 Min              False
3       2/20/2005     17:15  ...      16-30 Min              False
4       3/14/2005     10:00  ...       0-15 Min              False
...           ...       ...  ...            ...                ...
11287  10/26/2006     22:44  ...       0-15 Min              False
11288  10/26/2006     22:45  ...       0-15 Min              False
11289  10/27/2006      0:37  ...       0-15 Min              False
11290  10/27/2006      0:53  ...       0-15 Min              False
11291       10/27       NaN  ...            NaN                NaN

[11292 rows x 15 columns]

In [3]:
df.isnull()

       stop_date  stop_time  ...  stop_duration  drugs_related_stop
0          False      False  ...          False               False
1          False      False  ...          False               False
2          False      False  ...          False               False
3          False      False  ...          False               False
4          False      False  ...          False               False
...          ...        ...  ...            ...                 ...
11287      False      False  ...          False               False
11288      False      False  ...          False               False
11289      False      False  ...          False               False
11290      False      False  ...          False               False
11291      False       True  ...           True                True

[11292 rows x 15 columns]

In [4]:
df.isnull().sum()

stop_date                 0
stop_time                 1
country_name          11292
driver_gender           475
driver_age_raw          468
driver_age              520
driver_race             474
violation_raw           474
violation               474
search_conducted          1
search_type           10832
stop_outcome            474
is_arrested             474
stop_duration           474
drugs_related_stop        1
dtype: int64

In [6]:
df.drop(columns='country_name',inplace=True)

In [7]:
df

        stop_date stop_time  ... stop_duration  drugs_related_stop
0        1/2/2005      1:55  ...      0-15 Min               False
1       1/18/2005      8:15  ...      0-15 Min               False
2       1/23/2005     23:15  ...      0-15 Min               False
3       2/20/2005     17:15  ...     16-30 Min               False
4       3/14/2005     10:00  ...      0-15 Min               False
...           ...       ...  ...           ...                 ...
11287  10/26/2006     22:44  ...      0-15 Min               False
11288  10/26/2006     22:45  ...      0-15 Min               False
11289  10/27/2006      0:37  ...      0-15 Min               False
11290  10/27/2006      0:53  ...      0-15 Min               False
11291       10/27       NaN  ...           NaN                 NaN

[11292 rows x 14 columns]

In [10]:
df[df.violation=='Speeding'].driver_gender.value_counts()

M    5784
F    2366
Name: driver_gender, dtype: int64

In [11]:
df.head()

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False
2  1/23/2005     23:15  ...      0-15 Min               False
3  2/20/2005     17:15  ...     16-30 Min               False
4  3/14/2005     10:00  ...      0-15 Min               False

[5 rows x 14 columns]

In [12]:
df.groupby('driver_gender').search_conducted.sum()

driver_gender
F     56
M    404
Name: search_conducted, dtype: int64

In [14]:
df.search_conducted.value_counts()

False    10831
True       460
Name: search_conducted, dtype: int64

In [15]:
df.head()

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False
2  1/23/2005     23:15  ...      0-15 Min               False
3  2/20/2005     17:15  ...     16-30 Min               False
4  3/14/2005     10:00  ...      0-15 Min               False

[5 rows x 14 columns]

In [17]:
df['stop_duration'].value_counts()

0-15 Min     9161
16-30 Min    1279
30+ Min       378
Name: stop_duration, dtype: int64

In [18]:
df['stop_duration'].map({'0-15 Min':7.5,'16-30 Min':24,'30+ Min':45})
df

        stop_date stop_time  ... stop_duration  drugs_related_stop
0        1/2/2005      1:55  ...      0-15 Min               False
1       1/18/2005      8:15  ...      0-15 Min               False
2       1/23/2005     23:15  ...      0-15 Min               False
3       2/20/2005     17:15  ...     16-30 Min               False
4       3/14/2005     10:00  ...      0-15 Min               False
...           ...       ...  ...           ...                 ...
11287  10/26/2006     22:44  ...      0-15 Min               False
11288  10/26/2006     22:45  ...      0-15 Min               False
11289  10/27/2006      0:37  ...      0-15 Min               False
11290  10/27/2006      0:53  ...      0-15 Min               False
11291       10/27       NaN  ...           NaN                 NaN

[11292 rows x 14 columns]

In [19]:
df['stop_duration']=df['stop_duration'].map({'0-15 Min':7.5,'16-30 Min':24,'30+ Min':45})

In [21]:
df['stop_duration']

0         7.5
1         7.5
2         7.5
3        24.0
4         7.5
         ...
11287     7.5
11288     7.5
11289     7.5
11290     7.5
11291     NaN
Name: stop_duration, Length: 11292, dtype: float64

In [22]:
df['stop_duration'].mean()

10.761092623405435

In [23]:
df.groupby('violation').driver_age.describe()

                      count       mean        std   min   25%   50%   75%   max
violation
Equipment             675.0  30.456296  11.138690  16.0  22.0  27.0  37.0  81.0
Moving violation     1456.0  34.782280  12.684595  15.0  23.0  33.0  44.0  78.0
Other                 201.0  31.900498  12.213110  16.0  21.0  29.0  39.0  72.0
Registration/plates   311.0  31.144695  10.272495  17.0  22.0  28.0  39.0  59.0
Speeding             8125.0  32.907569  12.400503  16.0  23.0  29.0  41.0  88.0